{# templates/base/base.html.twig #}

<!DOCTYPE html>
{% block html %}
<html>
    {% block head %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Éthylopédia{% endblock %}</title>
        {% block css %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="/script/bar.min.js"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="/img_site/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img_site/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img_site/favicon-16x16.png">
        <link rel="manifest" href="/img_site/site.webmanifest">
        <link rel="mask-icon" href="/img_site/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">


        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/simplegrid.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        {% endblock %}
    </head>
    {% endblock %}

    {% block body %}
    <body>
      {% block header %}
        <header>
            <div class="bandeau">
              <h1><div class="titre">Éthylopédia</div></h1>
            </div>

            <!-- rajouter block login/inscription -->
                {% block menu %}
                <nav id="nav_bar">
                    <ul class="menu">
                        <li><img class="logo" src="/img_site/Winer.png" alt="winer" /></li>
                        <li><a href="/" class="menu">Accueil</a></li>
                        <li><a href="/alcool">Alcool</a></li>
                        {% if not(app.session.get("user")) %}
                        <li><a href="/login">Connexion</a></li>
                        <li><a href="/signup">Inscription</a></li>
                        {% endif %}
                        {% if app.session.get("user") %}
                        <li><a href="/logout">Déconnexion</a></li>
                        <li id="username"><a href="/profile" title="Voir profil">{{app.session.get("user").getUsername}}</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endblock %}
        </header>
        {% endblock %}
        <main>
        {% block main %}
          <div class="grid grid-pad">
            <div class="col-8-12">
              {% block article %}
              {% endblock %}
            </div>
              <aside>
                {% block sidebar %}
                  <div class="col-4-12">
                    <div class="sidebar">
                      <p class="titre-top">TOP 5 ALCOOLS</p>

                      <div class="top">
                          {% for alc in alcools %}
                            <a href="{{ path('alcool_show', {'name': alc.name }) }}"><img src="/img_alcool/{{ alc.imglink }}" title="{{alc.name}}" class="top-img"></a>
                          {% endfor %}
                      </div>
                    </div>
                  </div>
                {% endblock %}
              </aside>
          </div>
        {% endblock %}
        </main>
        {% block footer %}
        <footer>

            <div class="footer">
                <div class="grid grid-pad">
                <div class="col-1-3">
                    <p>©Éthylopédia</p>
                </div>
                <div class="col-1-3">
                    <h6>Nous Suivre...</h6>
                        <a href="http://facebook.com" title="facebook"><img class="reseau" src="/img_site/facebook.png" alt="facebook"></a>
                        <a href="http://twitter.com" title="twitter"><img class="reseau" src="/img_site/twitter.png" alt="twitter"></a>
                        <a href="http://instagram.com" title="instagram"><img class="reseau" src="/img_site/instagram.png" alt="instagram"></a>
                </div>
                <div class="col-1-3">
                    <h6>Contact</h6>
                    <ul>
                        <li>Chemin du Thil</li>
                        <li>80025 Amiens</li>
                        <li>03.22.82.72.72</li>
                        <li><a href="contact.html" title="Contact" class="detail">Plus de détails...</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </footer>
        {% endblock %}
    </body>
    {% endblock %}

</html>
{% endblock %}



<!-- <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>  -->
