html{
  margin-top: 45px;
}

#selector {
    width:100%;
    height:100%;
}

.pagination{
  width: 50%;
  margin-left: 50%;
  transform: translate(-31.5%, -40%);
  margin-top: 100px;
  display: inline-block;
  text-align: center;
}

div.enum{
  display: inline-block;

}

div.enum ul {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  list-style-type: disc;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

a.enum{
  float: none;
  color: #222222;
  text-align: center;
  padding: 0.9rem 1rem;
  text-decoration: none;
}

a.del{
  float: none;
  color: #222222;
  text-align: center;
  padding: 0.9rem 1rem;
  text-decoration: none;
}

a.enum:hover{
  background-color: #dddddd;
}

a.del:hover{
  background-color: #ffaaaa;
}


p.username{
  font-weight: bold;
  color: #000000;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1rem;
}

.pagination a {
    transition: background-color .3s;
    border-radius: 5px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

ul.admin_menu{
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.admin_menu{
  box-shadow: 2px 4px 3px rgba(0,0,0,.3);
}

li.admin_menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.9rem 1rem;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a.admin_menu:hover {
    background-color: #111;
}

img.alcool{
  border: 3px solid #000000;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  margin-top: 10px;
  box-shadow: 2px 4px 3px rgba(0,0,0,.3);
}

div.ingr{
  /* position: relative; */
  display: inline-block;
  text-align: center;
  padding: 0rem 0rem;
  margin-bottom: 0.8rem;
}

img.alcool:hover{
  filter:brightness(90%);
}

.buttonPage{
  text-align: center;


}

div.button{
  font-family: 'Poiret One', cursive;
  color: #000000;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  font-size: 3rem ;
  text-shadow: 2px 4px 3px rgba(0,0,0,.3);
  display: inline-block;
}

a.button{
  text-decoration: none;
  color: #000000;
}

.button:hover{
  color: red;
}

.drop-img:hover .dropdown-content {
    display: block;
}

.drop-img {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0.8rem 0.5rem;
    text-decoration: none;
    display: inline-block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown-content a.del:hover {
  background-color: #ffaaaa
}
